
/* COLORS */
$sideBarBackground: #484860;
$titleColor: #f3f3f3;
$buttonBorderColor: #f3f3f3;
$buttonTextColor: #f3f3f3;
$navbarBackground: #906078;

/* Spacing */

/* Major Runes */
$majorTwoRuneXSpacing: 22%;
$majorTwoRuneYSpacing: 12%;

/* Intermediate Runes */
$interTwoRuneXSpacing: 31.8%;
$interTwoRuneYSpacing: 25%;
