.idest-area {
    position: absolute;
    height: 600px;
    width: 900px;
    top: 0;
    left: 0;
    background-color: #c6c6c6;
    border: 2px solid rgba(255, 0, 0, 1);
    color: #FFF;
    z-index: 10;
    text-align: center;
  }

.idest-spot {
  height: 600px;
  width: 900px;
  position: absolute;
  top: 220px;
  left: 30%;
  border: 2px solid rgba(255, 0, 0, 1);
}
