/* Major
 -------------------------------------------------------------
*/

.Fire {
  width: 100%;
  height: 100%;
  margin: 12%;
  background-image: url('../../assets/images/Fire Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
}

.Air {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Air Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Water {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Water Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Earth {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Earth Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Life {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Life Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Death {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Death Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Mind {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Mind Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Body {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Body Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Knowledge {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Knowledge Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Faith {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Faith Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Order {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Order Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Chaos {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Chaos Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Nature {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Nature Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Artifice {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Artifice Rune.jpg');
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

/* Intermediate
 -------------------------------------------------------------
*/

.Self {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Self Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Other {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Other Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Storage {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Storage Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Instant {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Instant Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Duration {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Duration Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Channel {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Channel Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Create {
  width: 100%;
  height: 100%;
  margin: 12%;
  background-image: url('../../assets/images/Create Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
}

.Destroy {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Destroy Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Control {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Control Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Shape {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Shape Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Transform {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Transform Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Snare {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Snare Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

/* Minor
 -------------------------------------------------------------
*/

.Solid {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Solid Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Liquid {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Liquid Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Gas {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Gas Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Sharp {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Sharp Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Smooth {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Smooth Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Small {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Small Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Large {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Large Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Area {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Area Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Target {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Target Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Fast {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Fast Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Slow {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Slow Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Multiple {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Multiple Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}

.Shape {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/Shape Rune.jpg');
  background-size: contain;
  background-size: 76%;
  background-repeat: no-repeat;
  margin: 12%;
}
