.site-sidebar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  box-shadow: 1px 0px 7px 0px #000000;
  background-color: $sideBarBackground;
  z-index: 2;
}

.heading {
  color: $titleColor;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.rune-selector-area {
  position: relative;
  width: 100%;
  height: 23%;
}

.button-row {
  width: 100%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}

.rune-button {
  position: relative;
  display: inline-block;
  background-color: transparent;
  margin-left: 2.5%;
  width: 30%;
  height: 100%;
  border: 0.5px solid $buttonBorderColor;
  font-size: 0.95rem;
  font-weight: 300;
  color: $buttonTextColor;
  text-align: center;
  text-decoration: none;

  &--right {
    float: right;
    margin-right: 2.5%;
  }

  &--selected {
    background-color: $buttonTextColor;
    color: $sideBarBackground;
  }
}
