.title {
  display: inline-block;
  position: absolute;
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 2.8rem;
  color: #f3f3f3;
  width: 400px;
  height: 90%;
  top: 10%;
  right: 10%;


}

.subtitle {
  display: block;
  position: absolute;
  left: 1%;
  bottom: 15%;
  font-family: 'Megrim', cursive;
  font-size: 1rem;
  color: #cbcbcb;


}
